html {
    font-size: 18px;
}

body {
    background-color: coral;
}
#page{
    background-color: #EAF6F6;
    position: absolute;
    left: 25%;
    min-height: 100vh;
    width: 700px;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333; 
}

hr {
  background-color: #D5D8DC ;
  border-style: none;
  height: 3px;
  /* border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%; */
}
h1,h3{
    color: #66bfbf;
}

.hobby-pic{
    width: 350px;
}
/* th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
} */
